.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.pagination {
  display: inline-flex;
  padding-left: 0;
}

.pagination a {
  background: rgba(0, 0, 0, 0.4);
  margin-left: 50%;
  color: black;
  float: left;
  padding: 8px 35px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  border-radius: 5px;

}

.pagination a:hover:not(.active) {
  background-color: rgb(221, 221, 221);
}

img {
  max-width: 100%;
  max-height: 100%;
}
